# Python List Exercise with Solutions

In [40]:
# Given a Python list you should be able to display Python list in the following order
aLsit = [100, 200, 300, 400, 500]

aLsit= aLsit[::-1]
print(aLsit)

[500, 400, 300, 200, 100]

In [27]:
# Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]

List3 = [i + j for i, j in zip(list1,list2)]
print(List3)

['My', 'name', 'is', 'Kelly']

In [3]:
# Given a Python list. Turn every item of a list into its square
aList = [1, 2, 3, 4, 5, 6, 7]

for i in aList:
    print(i*i)
    i=i+1

1
4
9
16
25
36
49

In [7]:
# Given a Python list. Turn every item of a list into its square
aList = [1, 2, 3, 4, 5, 6, 7]

aList =[i*i for i in aList]
print(aList)

[1, 4, 9, 16, 25, 36, 49]

In [22]:
# Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

list3 = [x+y for x in list1 for y in list2]
print(list3)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [41]:
# Given a two Python list. 
# Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for x, y in zip(list1, list2[::-1]):
    print(x,y)

10 400
20 300
30 200
40 100

In [2]:
# Remove empty strings from the list of strings
list1 = ["Mike","","Emma","Kelly","","Brad"]

list1.remove("")
print(list1)
list1.remove("")
print(list1)

['Mike', 'Emma', 'Kelly', '', 'Brad']
['Mike', 'Emma', 'Kelly', 'Brad']

In [2]:
# Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [22]:
# Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]

list1[2][1][2].extend(subList)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [32]:
# Given a Python list, find value 20 in the list, and if it is present, replace it with 200. =
# Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]

list1.remove(20)
print(list1)
list1.insert(3,200)
print(list1)

[5, 10, 15, 25, 50, 20]
[5, 10, 15, 200, 25, 50, 20]

In [41]:
# Given a Python list, remove all occurrence of 20 from the list

list1 = [5, 20, 15, 20, 25, 50, 20]

list1.remove(20)
list1.remove(20)
list1.remove(20)
print(list1)

[5, 15, 25, 50]

In [57]:
list1 = [5, 20, 15, 20, 25, 50, 20]
i=20

for i in list1:
    list1.remove(i)
    print(list1)

[20, 15, 20, 25, 50, 20]
[20, 20, 25, 50, 20]
[20, 20, 50, 20]
[20, 50, 20]