# LOOP

In [1]:
#Print First 10 natural numbers using while loop

i=0
while i<=10:
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9
10

In [21]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [30]:
#Print the following pattern

for row in range(1,6):
    for column in range(1, row + 1):
        print(column, end=" ")
    
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [31]:
# Accept number from user and calculate the sum of all number between 1 and given number
x=0
n=int(input("please enter number"))
for i in range (11):
    x=x+i
print("Sum is:",x)

please enter number10
Sum is: 55

In [4]:
for i in range (1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
# Print multiplication table of given number

i=1
while i <11:
    print(2*i)
    i=i+1

2
4
6
8
10
12
14
16
18
20

In [6]:
for i in range(11):
    print(5*i)

0
5
10
15
20
25
30
35
40
45
50

In [47]:
#Given a list iterate it and display numbers which are divisible by 5 and
#if you find number greater than 150 stop the loop iteration
list = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list:
    if i<=150:
        if i%5==0:
            print(i)

15
55
75
150

In [8]:
i =5
while i<50:
    print(i)
    i=i+5

5
10
15
20
25
30
35
40
45

In [50]:
# Given a number count the total number of digits in a number
num = 758696788
print(len(str(num)))

9

In [56]:
# Print the following pattern using for loop
for row in range(1,6):
    for column in range(1,row-1):
        print(column,end=' ')
        
    print("")

1
1 2
1 2 3

In [59]:

for i in range(5,0,-1):
    for column in range(i,0,-1):
        print(column,end=' ')
        
    print("")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [68]:
#Reverse the following list using for loop
list1 = [10, 20, 30, 40, 50]

list2= list1[::-1]
print(list2)

[50, 40, 30, 20, 10]

In [74]:
list1 = [10, 20, 30, 40, 50]

for i in list1[::-1]:
    print(i)

50
40
30
20
10

In [78]:
#Display -10 to -1 using for loop

for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [82]:
#Display a message “Done” after 
#successful execution of for loop

for i in range(5):
    print(i)
else:
    print("done!")

0
1
2
3
4
done!

In [89]:
# Python program to display all the prime numbers 
# within a range
start = 25
end = 50

for i in range(25,51):
    for col in range(2,i):
        if i%col==0:
            break
        
    else:
        print(i)

29
31
37
41
43
47

In [85]:
for i in range(25,50):
    for col in range(2,i):
        if i%col==0:
            break
    else:
        print(i)

29
31
37
41
43
47

In [93]:
# Display Fibonacci series up to 10 terms
a=0
b=1
for i in range(10):
    c=a+b
    print(c)
    a=b
    b=c

1
2
3
5
8
13
21
34
55
89

In [101]:
#Write a loop to find the factorial of any number
fac=1
for i in range(1,6):
    fac=fac*i
    
print(fac)

120

In [119]:
#Reverse a given integer number

num=76542
rn = 0
while num>0:
    reminder = num%10
    rn = (rn*10)+reminder
    num=num//10
print(rn)

24567

In [121]:
#Use a loop to display elements from a given list which are 
#present at even positions
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in my_list[1::2]:
    print(i)

20
40
60
80
100

In [122]:

for i in range(1,len(my_list),2):
    print(my_list[i])

20
40
60
80
100

In [128]:
#Display the cube of the number up to a given integer

for i in range(1,7):
    print("Current number is:",i,"and cube is",(i*i*i))

Current number is: 1 and cube is 1
Current number is: 2 and cube is 8
Current number is: 3 and cube is 27
Current number is: 4 and cube is 64
Current number is: 5 and cube is 125
Current number is: 6 and cube is 216

In [132]:
#Find the sum of the series 2 +22 + 222 + 2222 + .. n terms
num_of_terms=5
start=2
sum=0
for i in range(0,num_of_terms):
    print(start,end="")
    sum+= start
    start = (start*10)+2
print("sum of above series is:",sum)

222222222222222sum of above series is: 24690

In [136]:
#Print the following pattern
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*