# SET

In [2]:
# Add a list of elements to a given set
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]

sampleSet.union(sampleList)

{'Black', 'Blue', 'Green', 'Orange', 'Red', 'Yellow'}

In [4]:
# Return a set of identical items from a given two Python set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection(set2)

{30, 40, 50}

In [11]:
# Returns a new set with all items from both sets by removing duplicates
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.update(set2)
print(set1)

{70, 40, 10, 50, 20, 60, 30}

In [12]:
# Given two Python sets, update first set with items that exist only in the first set and not in the second set.
set1 = {10, 20, 30}
set2 = {20, 40, 50}

set1.difference(set2)

{10, 30}

In [17]:
# Remove 10, 20, 30 elements from a following set at once
set1 = {10, 20, 30, 40, 50}
set1.difference_update({10,20,30})
print(set1)

{40, 50}

In [23]:
# Return a set of all elements in either A or B, but not both
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{70, 10, 20, 60}

In [29]:
# Determines whether or not the following two sets have any elements in common. If yes display the common elements
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 80, 90, 10}

set1.intersection_update(set2)
print(set1)

{10}

In [33]:
# Update set1 by adding items from set2, except common items
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.symmetric_difference_update(set2)
print(set1)

{70, 10, 20, 60}

In [35]:
#  Remove items from set1 that are not common to both set1 and set2
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
set1.intersection_update(set2)
print(set1)

{40, 50, 30}