# Tuple

In [3]:
# Reverse the following tuple
aTuple = (10, 20, 30, 40, 50)

aTuple=aTuple[::-1]
print(aTuple)

(50, 40, 30, 20, 10)

In [5]:
# Access value 20 from the following tuple
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1][1])

20

In [8]:
# Create a tuple with single item 50
aTuple=(50)
print(aTuple)

50

In [9]:
# Unpack the following tuple into 4 variables
aTuple = (10, 20, 30, 40)
a,b,c,d= aTuple
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [11]:
# Swap the following two tuples
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2= tuple2,tuple1
print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [19]:
# Copy element 44 and 55 from the following tuple into a new tuple
tuple1 = (11, 22, 33, 44, 55, 66)

tuple2= tuple1[3:5]
print(tuple2)

(44, 55)

In [22]:
# Modify the first item (22) of a list inside a following tuple to 222
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]= 222
print(tuple1)

(11, [222, 33], 44, 55)

In [ ]:
# Sort a tuple of tuples by 2nd item
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

tuple1= tuple(sorted(list(tuple1), key= ))

In [23]:
# Counts the number of occurrences of item 50 from a tuple
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

In [30]:
#Check if all items in the following tuple are the same
tuple1 = (45, 45, 45, 45)
check=[a=b=c=d]
print(check(tuple1))

SyntaxError: invalid syntax (<ipython-input-30-d91901fa3e74>, line 3)